@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  font-family: 'Playfair Display', serif;
  color: #4D4D4D;
}

body {
  overflow-x: hidden;
}

#websiteBackgroundImage {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
}

#firstHomeBanner {
  background-color: #55e6dc;
  width: 100%;
  height: 500px;
}

#bsHeader {
  color: white;
  font-family: 'Courier New', monospace;
  font-size: 72px;
  top: 
}

#gameWritingHeader {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}

#smallBottomBanner {
  background-color: #55e6dc;
  width: 100%;
  height: 200px;
}

#navbar {
  position: absolute;
  top: 450px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  border: 1px solid #ccc;
  padding-top: 8px;
  padding-bottom: 15px;
  padding-right: -10px;
  background-color: white;
  font-family: 'Georgia', serif;
}

#element {
  display: inline;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-left: 1px solid #ccc;
}

#header {
  margin-left: 300px;
  margin-right: 300px;
}

#paragraph {
  margin-left: 300px;
  margin-right: 300px;
}

#element a:hover {
    color: #c00;
    background-color: #fff;
}
#element a.active {
    background-color: rgb(201, 205, 248);
}

.first-element {
  border-left: 1px solid #ccc;
}

.last-element {
  border-right: 1px solid #ccc;
}

.active {
  background-color: green;
  color: white;
}

.awake {
  color: white;
}